*
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}
body{
   padding: 0 0;
   padding-bottom: 0;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.5rem;
     margin: 0 auto;
      max-width: 1400px;
}
.main-nav{
    display: none;
}
.second-section-main__div h2{
    text-align: center;
}
.main-nav-slide{
    position: fixed;
     background-color: #50C9C3;
     padding: 1rem;
     z-index: 10;
     width: 100%;
     height: 100vh;
     display: none;
}
.main-nav-list-slide{
    list-style: none;
    padding: 1.2rem;
    text-transform: uppercase;
    color: rgba(192, 72, 72, 0.575);
    text-align: center;
    border-top: 2px solid black;
    font-weight: bold;
}
.main-nav-slide ul{
    padding-left: 0;
    margin-top: 3rem;
}
.slide-svg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-slide{
    margin: 2rem 0;
    border: 2px solid rgba(212, 185, 27, 0.692);
    border-radius: 20px;
    color: black;
}
.contact-nav{
    border-bottom: 2px solid black;
}
.nav-social-media__icons{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.nav-social-media__icons > img{margin-left: 1rem;}

@media(min-width: 703px){
   
.main-nav{
   display: block;
}
.main-nav ul{
    display: flex;
    margin-bottom: 0;
}
.main-nav-list{
    list-style: none ;
    margin: 0 1rem;
    padding: .3rem 1.5rem;
}
.hamburger{
    display: none;
}
.login{
    background-color: indianred;
}
.second-section-main__div h2{
    text-align: left;
}
.second-section{
     margin: 0 auto;
      max-width: 1400px;
      margin-top: 2rem;
}
}

.first-buttons{
display: flex;
justify-content: center;
}

.second-section h3{
    color: hsl(229, 31%, 21%);
    text-align: center;
}
.second-section p{
    color:#9194a1 ;
     text-align: center;
}
.second-section img{
    margin-top: 2rem;
}
.features{
    margin: 2rem 0;
    
}
 .extension-section{
     text-align: center;
     margin: 3rem 0;
 }

@media(min-width: 703px){
    .second-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .img-fluid{
        order: 1;
    }
    .second-section-main__div p,
    .second-section-main__div h3{
        text-align: left;
        
    }
    .second-section-main__div {
        width: 400px;
        height: 400px;  
        
        padding: 1rem;
    }
    .first-buttons{
        padding: 0;
       width: 290px;
     
      justify-content: space-between;
    }
   
.features{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.extension-section{
      max-width: 600px;
    margin: 5rem auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
}

.bookmark-sec{
    margin: 4rem 0;
     margin: 2rem auto;
      max-width: 1400px;
}
.section-bookmarks,
.note,
.alert{
    border-bottom: 1px solid #9194a1 ;
    padding: 1rem 0.5rem;
      margin-bottom: 0;
}
.toggler{
   border-top: 5px solid red;
     border-bottom: 1px solid #9194a1 ;
     padding: 1rem 0.5rem;
   display:block;
}
.section-bookmarks{
    border-top: 1px solid #9194a1 ;
}
.container-body .second-section-main__div{
    display: none;
}
@media(min-width: 703px){
    .bookmark-sec{
        display: flex;
        border-bottom: 2px solid #9194a1;
        margin-top: 3rem;
    }
    .desktop-header{
        border-bottom: none;
        border-top: none;
    }
    .container-body{ 
        display: none;  
    }
    .container-body .second-section-main__div{
    display: block;
}
.bookmark-revealer{
display: flex;  
justify-content: space-evenly;
align-items: center;
}
.toggler{
    border-top: 5px solid red;
}
}

.browser-section{
    text-align: center;
    padding: 2rem 2rem;
 
    margin: 2rem 0;
    border-radius: 20px;
    
}

.dotted-lines{
    margin: 1rem auto;
    border: 2px  #00000062;
    border-style: dashed   ;
    width: 200px;
    margin-bottom: 3rem;
    text-align: center;
}

.faq{
    text-align: center;

}
p
{
    font-size: 1.5rem;
}

@media(min-width: 703px){
    .browser-section{
        border: none;
    }
    
    .align-self-center{
        margin-top: 5rem;
    }
    .align-self-end{
        margin-top: 12rem;
    }
    .faq{
          max-width: 600px;
    margin: 0 auto;
    
    }
}

#accordion-section{
display: flex;
margin: 2rem 0;
justify-content: center;
max-width: 600px;
margin: 2rem auto;
}
.accordion-container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
padding: 0 1.5rem;
}
.accordion-item{
    border: 2px solid #9194a1;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0 .5rem;
    box-sizing: .5rem 2px .5rem rgba(0, 0, 0, 0.582);
}

.accordion-link{
font-size: 1.2rem;
text-decoration: none;
width: 100%;
display: flex;
text-decoration: none;
justify-content: space-between;
padding: 1rem 0;
color: hsl(229, 31%, 21%);
}
.accordion-link:hover
{
    text-decoration: none;
    color: hsl(229, 8%, 60%);
}

.accordion-link ion-icon
{
    padding: .3rem;
}
 .accordion-link ion-icon[name = "arrow-down-outline"]
 {
    display: none ;
} 

.answer
{
    max-height: 0;
    overflow: hidden; 
    position: relative;
    background-color: #9194a12f;
    color: hsl(229, 31%, 21%);
    transition: max-height 1000ms;
}
.answer p
{
    font-size: 1rem;
   padding: 0 .5rem;
}

.accordion-item:target .answer
{
    max-height: 20rem;
}

.accordion-item:target .accordion-link ion-icon[name = "arrow-up-outline"]
{
    display: none;
}

.accordion-item:target .accordion-link ion-icon[name = "arrow-down-outline"]{
    display: block;
}

.small
{
   display: flex;
   justify-content: center;
}

.contact-div
{
    margin: 3rem 0;
    padding: 2rem;
    background-color: hsl(231, 69%, 60%);
    margin-bottom: 0;
}
input{
    width:250px;
    display: block;
    padding: .5rem 1rem;
}
.contact-div h3,
.contact-div p{
color: white;
}

footer{
    background-color:  hsl(229, 8%, 60%);
    text-transform: uppercase;
    padding: 4rem;
    padding-top: 1rem;
    text-align: center;
    color: ivory;
}
footer p{
    margin:  2rem 0;
}

@media(min-width : 703px){
    #contact-div{
        margin: 3rem 0;
        margin-bottom: 0;
      padding: 5rem;
    }
    footer{
        display: flex;
        justify-content: space-evenly;
        padding: 0rem;
        align-items: center;
    }

}
